{% extends "base.html" %}
{% load dict_key_access %}

{% block content %}
<h2>Edit dataset</h2>
<br>

<form class="form-inline" role="form" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<div class="form-group">
		<input type="text" class="form-control" id="nameEdit" name="file_name" value="{{dataset.name}}">
	</div>
	<div class="divider"></div>
	<div class="form-group">
		<select class="form-control" name="choice">
			{% for field in bool_fields %}
			<option value="{{field}}">{{field}}</option>
			{% endfor %}
		</select>
	</div>
	<input type="hidden" name="active" value="active">
	<div class="divider"></div>
	<button type="submit" class="btn btn-default btn-primary">Save</button>
</form>
<br>

<h4>Fields</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>name</th>
				<th>type</th>
				<th>delete</th>
			</tr>
		</thead>
		<tbody>
	    </tr>
	    {% for field in fields %}
		    <tr>
		        <td> <a href="{% url 'dataset:edit_field' dataset_id=dataset.id field_name=field.name %}">{{ field.name }}</a> </td>
		        <td>{{field.field_type}}</td>
		        <td><a href="{% url 'dataset:hide_field' %}?field_id={{field.id}}&dataset_id={{dataset.id}}"><i class="fa fa-fw fa-trash"></i> Delete</a></td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
{% endblock content%}