{% extends "base.html" %}
{% load dict_key_access %}
{% load static %}

{% block content %}
<h2>Edit Field</h2>
<br>

<form class="form" role="form" enctype="multipart/form-data" method="post" id="fieldForm">
	{% csrf_token %}
	  <div class="row">
    	<div class="col">
    		<label for="nameEdit">Name</label>
    		<input type="text" class="form-control" id="nameEdit" name="field_name" value="{{field.name}}">
		</div>
		<div class="col"></div>
	</div>
	<br>
	<div class="row">
    	<div class="col">
			<div class="form-group">
		    	<label for="help_text">Description</label>
		    	<textarea class="form-control" id="help_text" rows="3" name="help_text" >{{desc.help_text}}</textarea>
		  	</div>
		</div>
		<div class="col"></div>
	</div>
	{% if desc.type == 'number'%}
	<br>
	<div class="row">
		<div class="col">
			<label for="minValue">Min</label>
    		<input type="number" class="form-control" id="minValue" name="min_value" value="{{field.min_value}}">
		</div>
		<div class="col">
			<label for="maxValue">Max</label>
    		<input type="number" class="form-control" id="maxValue" name="max_value" value="{{field.max_value}}">
		</div>
		<div class="col"></div>
	</div>
	{% endif %}
	<br>
	<button type="submit" class="btn btn-default btn-primary">Save</button>
</form>
<br>

<div class='row'>
	<div class='col-sm-6' id="chartContainer">
	</div>
</div>

<h4>Statistic</h4>	
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>parameter</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
	    </tr>
	    {% for field in desc.statistic %}
		    <tr>
		        <td>{{field}}</td>
		        <td>{{desc.statistic|get_item:field}}</td>
		    </tr>
		{% endfor %}
		{% if desc.type == "select" %}
		<tr>
			<td>choices</td>
			<td>{{desc.choices}}</td>
		</tr>
	  	{% endif %}
	  </tbody>
	</table>
</div>
{% endblock content%}
{% block javascript %}
{{ block.super }}
<script src="{% static "js/graph.js" %}"></script>
{% endblock %}