{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Upload dataset</h2>
<br>
{% if not user.is_superuser %}
<div class="alert alert-info" role="alert">
  <strong> You can upload only one file not larger than 5 megabytes </strong>
</div>
{% endif %}
<div id = "alert_placeholder"></div>

<div class="fade" id="modal-progress" data-backdrop="false" data-keyboard="false">
	<div class="progress">
  		<div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
	</div>
</div>

<div class="divider"></div>

{% if dataset %}
<div class="table-responsive">
	<table id="file-table" class="table table-bordered">
		<tr>
		<th>Name</th>
		<th>Rows</th> 
		<th>Fields</th>
		<th></th>
		</tr>
		{% for name in dataset %}
		<tr>
			<td><a href="{% url 'dataset:edit' name.id %}">{{name.name}}</a></td>
			<td>{{name.row_count}}</td>
			<td>{{name.num_fields}}</td>
			<td>
				<a href="{% url 'build_model:build' name.id%}"><i class="fa fa-fw fa-wrench"></i> Build</a>
				<a href="{% url 'dataset:delete_dataset' name.id %}"><i class="fa fa-fw fa-trash"></i> Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col">
			<div style="margin-bottom: 20px;">
    			<button type="button" class="btn btn-primary js-upload-photos">
      				<span class="glyphicon glyphicon-cloud-upload"></span> Upload file
    			</button>
			    <input id="fileupload" type="file" name="file"
			           style="display: none;"
			           data-url="{% url 'dataset:upload' %}"
			           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
			</div>
		</div>
	</div>
</form>
{% endblock content %}
{% block javascript %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/progress-bar-upload.js' %}"></script>
{% endblock %}
