{% extends "base.html" %}

{% block navigation %}
{% endblock %}

{% block main %}
<div class="card card-register mx-auto mt-5">
	<div class="card-body">
		<p> invalid registration token</p>
	</div>
</div>	
{% endblock%}