{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block navigation %}
{% endblock %}

{% block main %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Register</div>
        <div class="card-body">
        <form method="post">
          {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Sign up</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'profiles:signin' %}">Login Page</a>
          <a class="d-block small" href="">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
