{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block navigation %}
{% endblock %}

{% block main %}

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post" action="{% url 'profiles:signin' %}">
        {% csrf_token %}
          {{form|crispy}}
          <div>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>

        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'profiles:signup' %}">Register an Account</a>
          <a class="d-block small" href="">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
