{% extends "base.html" %}

{% block content %}
<center><h2>User</h2></center>
<div class="card card-register mx-auto mt-5">
	<div class="card-body">
		<form class="form" role="form" enctype="multipart/form-data" method="post">
			{% csrf_token %}
			<label for="userName">User name</label>		
			<input type="text" class="form-control" name="userName" value="{{user.username}}" readonly>
			<br>
			<label for="userEmail">Email</label>		
			<input type="email" class="form-control" name="userEmail" value="{{user.email}}" readonly>
			<br>
			<label for="accountType">Account type</label>
			{% if user.is_superuser %}
			<input class="form-control" type="text" placeholder="Admin" readonly>
			{% else %}
			<input class="form-control" type="text" placeholder="Free" readonly>
			{% endif %}

		</form>
		<br>
		<a href="{% url 'profiles:delete_account'%}">Delete account</a>
	</div>
</div>
{% endblock %}
