{% extends "base.html" %}
{% load dict_key_access %}

{% block content %}
<h2>Models</h2>
<br>
{%if models %}
<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
		<th>name</th>
		<th>quality</th>
		<th></th>
		</tr>
		{% for model in models %}
		<tr>
			<td>
				<a href="{% url 'dataset:edit' model.dataset_id %}">{{model.dataset}}</a>
			<td>
				<p>{{model.algoritm}}</p>
		        <p> accuracy: {{ metrics|get_item:model.id|get_item:"model_accuracy" }} </p>
		        <p> precision:{{ metrics|get_item:model.id|get_item:"model_precision" }} </p>
		        <p> recall:   {{ metrics|get_item:model.id|get_item:"model_recall" }} </p>
		        <p> f1:		  {{ metrics|get_item:model.id|get_item:"model_f1" }} </p>
			</td>
			<td>
				<a href="{% url 'build_model:info' model.id %}"><i class="fa fa-fw fa-gear"></i>Parameters</a>
				<a href="{% url 'build_model:test' model.id %}"><i class="fa fa-fw fa-tasks"></i>Test</a>
				<a href="{% url 'build_model:delete_model' model.id %}"><i class="fa fa-fw fa-trash"></i>Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% else %}
<p>There isn't models.</p>
<a href="{% url 'dataset:upload' %}">Build new model</a>
{% endif%}
{% endblock content %}