{% extends "base.html" %}

{% block content %}
<center><h2>Testing model</h2></center>
<br>

<div class="card mx-auto w-50">
	<div class="card-body">	
		<br>
		your result is {{answ}}
	</div>
</div>
<br>
<br>
{% endblock content %}