{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Build model</h2>

<div class="divider"></div>

<form id="form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="form-group" id="classifier-input">
	{% if classifiers %}
	<select class="custom-select mr-sm-2" name="classifier_name" id="inlineFormCustomSelect">
	    {% for classifier in classifiers %}
		    <option value="{{classifier.name}}">{{classifier.name}}</option>	    
		{% endfor %}
	</select>
	{% endif %}
  <div class="divider"></div>
  </div>

  <button type="submit" style="visibility: hidden;" class="btn btn-primary" id="submit-button">Build model</button>
</form>
<div class="divider"></div>

{% endblock content %}
{% block javascript %}
{{ block.super }}
<script src="{% static "js/build.js" %}"></script>
{% endblock %}