{% extends "base.html" %}
{% load dict_key_access %}

{% block content %}
<h2>Models</h2>
<br>

{%if model %}
<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
		<th>name</th>
		<th>params</th>
		</tr>
		<tr>
			<td>
				<a href="{% url 'dataset:edit' model.dataset_id %}">{{model.dataset}}</a>
			</td>
			<td>{{model.params}}</td>
		</tr>
	</table>
</div>
{% else %}
<p>There isn't models.</p>
<a href="{% url 'dataset:upload' %}">Build new model</a>
{% endif%}
{% endblock content %}