{% extends "base.html" %}

{% block content %}
<center><h2>Testing model</h2></center>
<br>
<div class="card mx-auto w-50">
	<div class="card-body">	
	{% if form %}
		<form enctype="multipart/form-data" method="post" role="form">
			{% csrf_token %}
				{% for field in form %}
				<div class="form-group row">
					{{ field.label_tag }}
					{{ field }}
					<small id="passwordHelpBlock" class="form-text text-muted">
						{{ field.help_text }}
					</small>
				</div>
				{% endfor %}		
			<button type="submit" class="btn btn-block btn-primary">Upload</button>
		</form>
	{% else %}
	<p>There isn't models.</p>
	<a href="{% url 'dataset:upload' %}">Build new model</a>
	{% endif%}
	</div>
</div>
<br>
<br>
{% endblock content %}