{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
		<tr>
		<th>date</th>
		<th>desc</th>
		<th>result</th>
		</tr>
{% for result in results %}
	<tr>
		<td>{{result.pub_date}}</td>
		<td>{{result.description}}</td>
		<td>{{result.choice}}</td>
	</tr>
{% endfor%}
</table>
{% endblock%}
