{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img src="{% static "img/logo.png" %}">
    <div class="divider"></div>
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="/dataset">Scoring app</a>
    {% else %}
    <a class="navbar-brand" href="/">Scoring app</a>
    {% endif%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% include 'user.html'%}
      </ul>
    </div>
  </div>
</nav>