{% extends "base.html" %}

{% block navigation%}
	{% include 'head.html' %}
{% endblock %}

{% block main %}
<!-- Page Content -->
<div class="row">
	<div class="col-lg-12 text-center">
	  <h1 class="mt-5">Simple web-app for running sklearn models</h1>
	  <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
	</div>
</div>

{% endblock %}