{% load static %}
<!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <img src="{% static "img/logo.png" %}">
    <div class="divider"></div>
    <a class="navbar-brand" href="/">Scoring app</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Datasets">
	      <a class="nav-link" href="{% url 'dataset:upload' %}">
	        <i class="fa fa-fw fa-file"></i>
	        <span class="nav-link-text">Dataset</span>
	      </a>
	    </li>

	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Models">
	      <a class="nav-link" href="{% url 'build_model:all' %}">
	        <i class="fa fa-fw fa-area-chart"></i>
	        <span class="nav-link-text">Models</span>
	      </a>
	    </li>
	    
	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Results">
	      <a class="nav-link" href="{% url 'build_model:results' %}">
	        <i class="fa fa-fw fa-flag-checkered"></i>
	        <span class="nav-link-text">Results</span>
	      </a>
	    </li>

	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
	      <a class="nav-link" href="{% url 'profiles:user_profile' %}">
	        <i class="fa fa-fw fa-gear"></i>
	        <span class="nav-link-text">Settings</span>
	      </a>
	    </li>
		
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="About">
	      <a class="nav-link" href="">
	        <i class="fa fa-fw fa-info-circle"></i>
	        <span class="nav-link-text">About</span>
	      </a>
	    </li>

	  </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% include 'user.html' %}
      </ul>
    </div>
  </nav>