{% if user.is_authenticated %}
<div class="dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-user-circle"></i> {{ user.get_username }}</a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profiles:user_profile' %}"><i class="fa fa-fw fa-cog"></i> settings</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profiles:logout'%}"><i class="fa fa-fw fa-sign-out"></i> logout</a></li>
  </ul>
</div>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profiles:signin' %}">Sign in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profiles:signup' %}">Sign up</a>
  </li> 
{% endif %}